<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebSocket</title>
  </head>
  <body>
    <h1>hello websocket</h1>

    <script>
      const socket = new WebSocket("ws://localhost:8080/ws");
      socket.addEventListener("open", function (event) {
        socket.send("Hello Server!");
      });
      socket.addEventListener("message", function (event) {
        console.log("Message from server ", event.data);
      });
      socket.addEventListener("close", function (event) {
        console.log("close");
      });
      socket.addEventListener("error", function (event) {
        console.log("error", event);
      });
    </script>
  </body>
</html>
